/*
 *  Copyright Magmodules.eu. All rights reserved.
 *  See COPYING.txt for license details.
 */

.mollie-buttons {
    margin-top: 10%;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mollie-buttons .button {
    display: inline-block;
    margin: 20px;
    max-width: 100%;
    padding: 0 16px;
    border: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .19);
    border-radius: 6px;
    background-color: #0095FF;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 4.4rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background .15s;
    transition: background .15s;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mollie-buttons {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.mollie-buttons .button:hover {
    background-color: #0077CB;
}

.mollie-loading .redirect-block {
    padding: 10%;
    text-align: center;
}

.checkout-payment-method #mollie_methods_ideal-form .label {
    height: 35px;
    display: inline-block;
}

.checkout-payment-method #mollie_methods_ideal-form .payment-icon {
    width: 35px;
    max-height: 30px;
}

.checkout-payment-method #mollie_methods_kbc-form .label {
    height: 35px;
    display: inline-block;
}

.checkout-payment-method #mollie_methods_kbc-form .payment-icon {
    width: 35px;
    max-height: 30px;
}

.checkout-payment-method #mollie_methods_giftcard-form .label {
    height: 40px;
    display: inline-block;
}

.checkout-payment-method #mollie_methods_giftcard-form .payment-icon {
    width: 35px;
    max-height: 30px;
}

.mollie-payment-icon {
    width: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.mollie-loading .loader {
    border: 16px solid #E3F0FA;
    border-top: 16px solid #31A8F0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.payment-method-content .card-container {
    max-width: 400px;
    overflow: auto;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 20px;
    margin-bottom: 10px;
}

/* Apple Pay start */
.apple-pay-button {
    -webkit-appearance: -apple-pay-button;
}

@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: buy;
    }
    .apple-pay-button-with-text > * {
        visibility: hidden;
    }
    .apple-pay-button-black-with-text {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white-with-text {
        -apple-pay-button-style: white;
        cursor: pointer;
    }
    .apple-pay-button-white-with-line-with-text {
        -apple-pay-button-style: white-outline;
    }

    .apple-pay-button-color-black { -apple-pay-button-style: black; }
    .apple-pay-button-color-white { -apple-pay-button-style: white; }
    .apple-pay-button-color-white-outline { -apple-pay-button-style: white-outline; }
    .apple-pay-button-text-buy { -apple-pay-button-type: buy; }
    .apple-pay-button-text-donate { -apple-pay-button-type: donate; }
    .apple-pay-button-text-plain { -apple-pay-button-type: plain; }
    .apple-pay-button-text-book { -apple-pay-button-type: book; }
    .apple-pay-button-text-check-out { -apple-pay-button-type: check-out; }
    .apple-pay-button-text-subscribe { -apple-pay-button-type: subscribe; }
    .apple-pay-button-text-add-money { -apple-pay-button-type: add-money; }
    .apple-pay-button-text-contribute { -apple-pay-button-type: contribute; }
    .apple-pay-button-text-order { -apple-pay-button-type: order; }
    .apple-pay-button-text-reload { -apple-pay-button-type: reload; }
    .apple-pay-button-text-rent { -apple-pay-button-type: rent; }
    .apple-pay-button-text-support { -apple-pay-button-type: support; }
    .apple-pay-button-text-tip { -apple-pay-button-type: tip; }
    .apple-pay-button-text-top-up { -apple-pay-button-type: top-up; }
}

.mollie-applepay-button-hidden {
    display: none;
}

.mollie-applepay-minicart-button {
    height: 40px;
}
/* Apple Pay end */
